apiVersion: v1
kind: Service
metadata:
  name: postgres-master
spec:
  selector:
    app: postgres-master
  ports:
    - port: 5432
      targetPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-replica
spec:
  selector:
    app: postgres-replica
  ports:
    - port: 5432
      targetPort: 5432